.chat-container {
  display: flex;
  height: 500px;
  
}

.viewer-list {
  flex: 0 0 40%; /* Set the flex property to specify the initial width of the viewer list */
  padding: 10px;
  background-color: #ececec;
  border-radius: 5px 0px 0px 5px;
}

.viewer {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  font-size: 14px; /* Adjust the font size as needed */
  text-transform: capitalize;
  
}

.viewer.active {
  background-color: #d8d8d8;
  text-align: left;
}

.chat {
  flex: 1; /* Allow the chat container to grow and fill the remaining space */
  display: flex;
  flex-direction: column;
  
}

.chat-header {
  background-color: #0f0c29;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  border-radius: 0px 5px 5px 0px;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
}

.chat-messages::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome/Safari/Opera */
}


.message {
  max-width: 70%;
  min-width: 5%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
}


.message-content {
  word-wrap: break-word;
}

.message-timestamp {
  font-size: 0.65em;
  margin: 50px 20px;
  /* background-color: red; */
  width: 25%;
  text-align: end;
  padding: 1px;
  margin: 1px;
  color: #777;
  position: absolute;
  right: 5px;
  bottom: -2px;
  text-transform:lowercase;
}

.message.sent {
  margin-left: auto;
  background-color: #dcf8c6;
  position: relative;
  font-size: 0.85em;
  text-transform: capitalize;
}

.message.received {
  align-self: flex-start;
  background-color: #d1e5f5cd;
  position: relative;
  font-size: 0.85em;
  text-transform: capitalize;
  
}

.chat-input {
  padding: 10px;
}

.chat-input input {
  width: calc(100% - 20px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.scroll-to-bottom {
  position: absolute;
  bottom: 50px;
  right: 20px;
  background-color: #128c7e; /* Background color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  z-index: 1; /* Ensure it's clickable */
}

.scroll-to-bottom .MuiSvgIcon-root {
  color: #fff; /* Icon color */
}
