.ContactMain-Container {
  margin: 0.5% 0px;
  padding: 10px;
  padding-left: 4vh;
  padding-right: 4vh;
}

.Contact-heading {
  font-size: 3vw;
  font-weight: 600;
  font-family:sans-serif;
  color: #0f0c29;
  position: relative;
  display: inline-block;
}

.Contact-heading::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  height: 4px;
  background-color: #ff4500;
}

.color-contact {
  color: #1a2238;
}
/* .btn-Contact {
  background-color: #1a2238;
  font-size: 1vw;
  width: 100%;
  height: auto;
  padding: 1%;
  color: #fff;
  border:none;
  border-radius: 2px;
  margin: 0px;
} */
@media screen and (max-width: 600px) {
  #contact{
    margin-top: -20vh;
  }
  .Contact-heading {
    font-size: 8vw;
  }
}
@media screen and (max-width: 768px) {
 
  .Contact-heading {
    font-size: 5vw;
  }
 
}
